In [1]:
# Crypto Portfolio Project

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import os
import requests

In [25]:
df = pd.read_csv('account.csv')
df.drop(columns = ['transfer id', 'trade id', 'order id'], inplace = True)
df.head()

,portfolio,type,time,amount,balance,amount/balance unit
0,default,match,2021-01-02T05:35:42.191Z,0.600000,6.000000e-01,BTC
1,default,match,2021-01-02T05:35:42.200Z,0.410318,1.010318e+00,BTC
2,default,withdrawal,2021-01-02T05:45:39.267Z,-0.100007,9.103114e-01,BTC
3,default,withdrawal,2021-01-02T06:25:44.606Z,-0.910311,1.000000e-08,BTC
4,default,deposit,2021-01-08T19:41:46.786Z,0.198794,1.987943e-01,BTC

In [26]:
df = df[df.type == 'match']

In [32]:
df.head(10)

,portfolio,type,time,amount,balance,amount/balance unit
0,default,match,2021-01-02T05:35:42.191Z,0.600000,0.600000,BTC
1,default,match,2021-01-02T05:35:42.200Z,0.410318,1.010318,BTC
5,default,match,2021-01-10T15:58:54.503Z,-0.032112,0.166683,BTC
6,default,match,2021-01-10T15:58:54.507Z,-0.025082,0.141601,BTC
7,default,match,2021-01-10T15:58:54.511Z,-0.141601,0.000000,BTC
9,default,match,2021-01-18T00:02:49.606Z,-0.069802,0.139612,BTC
10,default,match,2021-01-18T00:02:49.611Z,-0.040576,0.099036,BTC
11,default,match,2021-01-18T00:02:49.615Z,-0.099036,0.000000,BTC
12,default,match,2021-02-03T14:07:02.988Z,0.019524,0.019524,BTC
13,default,match,2021-02-03T14:07:02.993Z,0.252448,0.271972,BTC